<div>
    <form id="NewTaskForm" role="form" name="newTaskForm" novalidate>

        <div class="modal-header">
            <button type="button" class="close" aria-label="Close" ng-click="vm.cancel()">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">
                <span>@L("CreateNewTask")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-float">
                <div class="form-line">
                    <input class="form-control" type="text" name="TenancyName" ng-model="vm.task.description" required maxlength="64" minlength="2">
                    <label class="form-label">@L("TenancyName")</label>
                </div>
            </div>
            <div class="form-group form-float">
                <label for="TaskAssignedPerson">@L("AssignTo")</label>
                <select id="TaskAssignedPerson" class="form-control" ng-model="vm.task.assignedPersonId" ng-options="person.id as person.name for person in vm.people">
                    <option value="">@L("SelectPerson")</option>
                </select>
            </div>
            <button ng-click="vm.saveTask()" ng-disabled="newTaskForm.$invalid" type="submit" class="btn btn-primary">@L("CreateTheTask")</button>
        </div>
    </form>
</div>

